*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin/

# Large file exclusions
*.zip
*.tar
*.gz
*.7z
*.exe
*.dll
*.so
*.mp4
*.mov
*.bin
*.apk
*.aab
